@import '../../../assets/styles/variables.scss';

.app-landing-page{
    &__title{
    font-family: $titles-cards-style;
    margin-left: $titles-cards-marginleft;
    color: $text-color-primary;
    }
}

.app-album-card{
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color-primary;
    display: flex;
    flex-wrap: wrap;

    &__card{
        :hover{
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    
    &__container{
        text-align: center;
        width: 250px;
        padding: 5px;  
        margin-right: 25px; 
    }

    &__img{
        border-radius: 10px;
    }

    &__info-box{
        text-align: left;
        font-size: 15px;
    }

    &__title{
        text-align: left;
        margin: 10px 0px;
        font-size: 20px;
    }

    &__artist{
        margin: 0px;
    }

}

@media screen and (min-width: 800px) {
    .app-list-album {
        display: none;
    }
} 

@media screen and (max-width: 800px) {
    .app-album-card {
        display: none;
    }

    .app-list-album {
        font-family: Arial, Helvetica, sans-serif;
        color: $text-color-primary;

        :hover{
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }
        :active{
            color: $text-color-active;
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }

        &__list{
            display: flex;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        &__item{
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 5px;
        }

        &__small-img{
            border-radius: 100px;
            max-height: 56px;
            &:hover{
                border-radius: 100px !important; 
            }
        }

        &__info{
            flex: 3;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            padding-top: 10px;
            padding-left: 10px;
        }

        &__artist{
            font-size: 20px;
            text-decoration: none;
            margin: 0px;
            padding-bottom: 5px;
            display: block;

            &:hover{
                text-decoration: underline;
            }

        }

        &__album{
            font-size: 10px;
            text-decoration: none;
            margin: 0px;
            display: block;

            &:hover{
                text-decoration: underline;
            }
            
        }        
    }
}

@media screen and (max-width: 370px) {
    .app-landing-page__title {
        font-size: 20px;
    }
}