@import '../../../assets/styles/variables.scss';

.artist-page{
    font-family: $titles-cards-style;
    color: $text-color-primary;

    &__title{
        margin-left: $titles-cards-marginleft;
        padding-left: 12px;
        margin-right: 25px;
    }
}

.playlists-card{
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color-primary;
    display: flex;
    flex-wrap: wrap;
    margin-right: 25px;

    :hover{
        background-color: $background-color-secondary;
        border-radius: 10px;
        cursor: pointer;
    }

    &__container{
        margin-right: 25px;
        padding: 5px;
        width: 250px;
    }

    &__img{
        border-radius: 10px;
    }

    &__title{
        text-align: left;
        margin: 10px 0px;
        font-size: 20px;
    }

    &__duration{
        text-align: left;
        margin: 10px 0px;
        font-size: 15px;
    }
}

@media screen and (min-width: 800px) {
    .list-playlists {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .playlists-card {
        display: none;
    }

    .list-playlists{
        font-family: Arial, Helvetica, sans-serif;
        color: $text-color-primary;

        :hover{
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }
        :active{
            color: $text-color-active;
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }

        &__list{
            display: flex;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        &__item{
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 5px;
        }

        &__small-img{
            border-radius: 100px;
            max-height: 56px;
            &:hover{
                border-radius: 100px !important; 
            }
        }

        &__info{
            flex: 3;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            padding-top: 10px;
            padding-left: 10px;
            max-height: 56px;
        }

        &__title{
            font-size: 20px;
            text-decoration: none;
            margin: 0px;
            padding-bottom: 5px;
            display: block;
        }
    }
}

@media screen and (max-width: 450px) {
    .list-playlists {
        &__title {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 370px) {
    .list-playlists {
        &__title {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 375px) {
    .artist-page {
        &__title {
        font-size: 20px;
        flex: 2;
        }
    }
}