@import '../../../assets/styles/variables.scss';


.app-footer {
    height: $size-footer-height;
    width: 100%;
    background-color: $background-color-secondary;
}

@media screen and (min-width: 800px) {
    .app-footer {
        &__menu{
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .app-footer{
        height: calc(#{$size-footer-height} + #{$size-menu-below-height});
    }
}