@import '../../../assets/styles/variables.scss';

.app-artist-page{
    &__title{
        font-family: $titles-cards-style;
        margin-left: $titles-cards-marginleft;
        color: $text-color-primary;
    }
}

.app-playlists-card{
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color-primary;
    display: flex;
    flex-wrap: wrap;

    :hover{
        background-color: $background-color-secondary;
        border-radius: 10px;
        cursor: pointer;
    }

    &__container{
        margin-right: 25px;
        padding: 5px;
        width: 250px;
    }

    &__img{
        border-radius: 10px;
    }

    &__title{
        text-align: left;
        margin: 10px 0px;
        font-size: 20px;
    }

    &__duration{
        text-align: left;
        margin: 10px 0px;
        font-size: 15px;
    }
}