<h2 class="app-landing-page__title">Tus artistas favoritos</h2>

<div class="app-artists-card">
    <div *ngFor="let artist of inputArtist" class="app-artists-card__card">
        <div class="app-artists-card__container" (click)="sendToArtistPage(artist.id)">
            <img [src]="artist.picture" alt="" class="app-artists-card__img">
            <h2 class="app-artists-card__title">{{ artist.artist }}</h2>
        </div>
    </div>
</div>

<div class="app-list-artists">
    <ol class="app-list-artists__list" *ngFor="let artist of inputArtist">
        <li class="app-list-artists__item" (click)="sendToArtistPage(artist.id)">
            <img [src]="artist.small_picture" alt="" class="app-list-artists__small-img">
            <h2 class="app-list-artists__title">{{ artist.artist }}</h2>
        </li>
    </ol>
</div>