@import '../../../assets/styles/variables.scss';

.album-page{    
    font-family: Arial, Helvetica, sans-serif;

    &__container{
        margin-bottom: 10px;
        position: relative;
        width: 100%;
        padding: 0px;
    }
    
    &__information{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 50%;
        height: 100%;
        background-color: $background-color-main-transparency;
        //background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $background-color-main-transparency);
    }

    &__info-box{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 25px;
        justify-content: left;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding-left: 30px;
    }

    &__playback-info{
        display: flex;
        flex-direction: row;
    }

    &__title{
        font-size: 50px;
    }

    &__artist{
        font-size: 25px;
    }

    &__detailed-info{
        display: block;
    }

    &__fans{
        display: block;
        font-size: 20px;
    }

    &__duration{
        display: block;
        font-size: 20px;
    }

    &__playButton{
        padding-left: 15px;
    }

    &__img{
        display: block;
        position: relative;
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: 50% 35%;
    }
}

@media screen and (min-width: 600px) {
    .small-header {
        display: none;
    }
} 

@media screen and (max-width: 600px) {
    .album-page {
        display: none;
    }

    .small-header {
        font-family: Arial, Helvetica, sans-serif;

        &__container {
            width: 100%;
            padding: 10px 0px;
            background-color: $background-color-main-transparency;
        }
        
        &__img-background {
            display: flex;
            justify-content: center;
        }

        &__information {
            padding: 0px 10px;
        }

        &__title {
            font-size: 25px;
            margin: 10px 0px;
        }

        &__infobox-button {
            display: flex;
            flex-direction: row;
        }

        &__info-box {
            flex-direction: column;
            flex: 3;
            margin: 10px 0px;
        }

        &__artist {
            font-size: 15px;
            margin: 0px;
        }

        &__detailed-info {
            font-size: 10px;
            flex-direction: row;
            margin: 0px;
            padding-top: 5px;
        }

        &__fans {
            margin-right: 10px;
        }

        &__button {
            flex: 1;
        }
    } 
}