<div class="app-playlists-header__container">
    <div>
        <img class="app-playlists-header__img" [src]="inputHeader.picture" alt="">
    </div>
    <div class="app-playlists-header__information">
        <div class="app-playlists-header__info-box">
            <h1 class="app-playlists-header__title">>{{ inputHeader.title }}</h1>
            <p class="app-playlists-header__description">{{ inputHeader.description }}</p>
            <span class="app-playlists-header__fans">{{ inputHeader.fans }}</span>
            <span class="app-playlists-header__duration">{{ inputHeader.duration}}</span>
            <button class="app-playlists-header__playButton" 
            (click)="this.commons.playlistInfo(inputHeader.id, inputHeader.type)">Play</button>
        </div>
    </div>
</div>