<div class="app-playlists-header__container">
    <div>
        <img class="app-playlists-site__img" [src]="inputHeader.picture" alt="">
    </div>
    <div class="app-playlists-site__information">
        <div class="app-playlists-site__info-box">
            <h1 class="app-playlists-site__title">>{{ inputHeader.title }}</h1>
            <p class="app-playlists-site__description">{{ inputHeader.description }}</p>
            <span class="app-playlists-site__fans">{{ inputHeader.fans }}</span>
            <span class="app-playlists-site__duration">{{ inputHeader.duration}}</span>
        </div>
    </div>
</div>