@import '../../../assets/styles/variables.scss';

.app-landing-page{
    &__title{
    font-family: $titles-cards-style;
    margin-left: $titles-cards-marginleft;
    color: $text-color-primary;
    }
}

.app-playlists-card{
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color-primary;
    display: flex;
    flex-wrap: wrap;
    ;

    &__card{
        :hover{
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__container{
        margin-right: 25px;
        padding: 5px;
        width: 250px;
    }

    &__img{
        border-radius: 10px;
    }

    &__info-box{
        text-align: left;
        font-size: 15px;
    }

    &__title{
        text-align: left;
        margin: 10px 0px;
        font-size: 20px;
    }

    &__duration{
        text-align: left;
        margin: 10px 0px;
        font-size: 13px;
    }
}

@media screen and (min-width: 800px) {
    .app-list-playlists {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .app-playlists-card {
        display: none;
    }

    .app-list-playlists{
        font-family: Arial, Helvetica, sans-serif;
        color: $text-color-primary;

        :hover{
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }
        :active{
            color: $text-color-active;
            background-color: $background-color-secondary;
            border-radius: 10px;
            cursor: pointer;
        }

        &__list{
            display: flex;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        &__item{
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 5px;
        }

        &__small-img{
            border-radius: 100px;
            max-height: 56px;
            &:hover{
                border-radius: 100px !important; 
            }
        }

        &__title{
            flex: 4;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 20px;
            font-size: 16px;
        }

        &__duration{
            flex: 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 450px) {
    .app-landing-page__title {
        font-size: 20px;
    }

    .app-list-playlists {
        &__title {
            font-size: 15px;
        }

        &__duration {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 370px) {
    .app-landing-page__title {
        font-size: 17px;
    }

    .app-list-playlists {
        &__title {
            font-size: 15px;
        }

        &__duration {
            display: none;
        }
    }
}