<div class="app-album-page__container">
    <div>
        <img class="app-album-page__img" [src]="inputAlbumHeader.picture" alt="">
    </div>
    <div class="app-album-page__information">
        <div class="app-album-page__info-box">
            <h1 class="app-album-page__title">>{{ inputAlbumHeader.title }}</h1>
            <p class="app-album-page__artist">{{ inputAlbumHeader.artist }}</p>
            <span class="app-album-page__fans">{{ inputAlbumHeader.fans }}</span>
            <span class="app-album-page__duration">{{ inputAlbumHeader.duration }}</span>
            <button class="app-album-page__playButton" (click)="this.commons.startPlayback(inputAlbumHeader.id, inputAlbumHeader.type)">Play</button>
        </div>
    </div>
</div>