<div class="playlist-page">
    <app-loading *ngIf="isHeaderLoading" class="playlist-page__loading"></app-loading>
    <app-playlist-page-header *ngIf="!isHeaderLoading" [inputHeader]="playlistInfo"></app-playlist-page-header>

    <app-loading *ngIf="isTrackLoading || isUserLoading" class="playlist-page__loading"></app-loading>
    <div class="playlist-page__card">
        <app-playlist-page-tracklist *ngIf="!isTrackLoading && !isUserLoading" [inputTracklist]="tracks"></app-playlist-page-tracklist>
    </div>
</div>