<div class="app-playlists-card" *ngIf="!areTracksShown">
    <div class="app-playlists-card__container" *ngFor="let playlist of playlists">
        <div (click)="handleClick(playlist)">
            <img [src]="playlist.picture" alt="" class="app-playlists-card__img">
            <h2 class="app-playlists-card__title">{{ playlist.title }}</h2>
        </div>
    </div>
</div>

<div class="app-playlists-site" *ngIf="areTracksShown" (click)="handleClickBack()">

    <div class="app-playlists-site__container">
        <div class="app-playlists-site__header">
            <div>
                <img class="app-playlists-site__img" [src]="selectedPlaylistInfo.picture" alt="">
            </div>
            <div class="app-playlists-site__information">
                <div class="app-playlists-site__info-box">
                    <h1 class="app-playlists-site__title">>{{ selectedPlaylistInfo.title }}</h1>
                    <p class="app-playlists-site__description">{{ selectedPlaylistInfo.description }}</p>
                    <span class="app-playlists-site__fans">{{ fansWithCommas(selectedPlaylistInfo.fans) }}</span>
                    <span class="app-playlists-site__duration">{{ secondsToFullDuration(selectedPlaylistInfo.duration, true) }}</span>
                </div>
            </div>
        </div>
        
        <div class="app-playlists-site__tracklist">
            <ol class="app-playlists-site__list" *ngFor="let track of tracks">
                <li class="app-playlists-site__item">
                    <h2 class="app-playlists-site__song-title">{{ track.title }}</h2>
                    <div class="app-playlists-site__info">
                        <h3 class="app-playlists-site__artist">{{ track.artist }}</h3>
                        <h4 class="app-playlists-site__album">{{ track.album }}</h4>
                    </div>
                    <span class="app-playlists-site__song-duration">{{ secondsToFullDuration(track.duration, false) }}</span>
                </li>
            </ol>
        </div>
    </div>
    
</div>