<app-loading *ngIf="isHeaderLoading"></app-loading>
<app-artist-page-header *ngIf="!isHeaderLoading" [inputArtistInfo]="selectedArtist"></app-artist-page-header>

<app-loading *ngIf="isTracksLoading"></app-loading>
<app-artist-page-tracklist *ngIf="!isTracksLoading" [inputTopFive]="topFive"></app-artist-page-tracklist>

<app-loading *ngIf="isAlbumLoading"></app-loading>
<app-artist-page-album *ngIf="!isAlbumLoading" [inputAlbums]="albums"></app-artist-page-album>

<app-loading *ngIf="isPlaylistLoading"></app-loading>
<app-artist-page-playlist *ngIf="!isPlaylistLoading" [inputPlaylists]="playlists"></app-artist-page-playlist>