<div class="app-searcher">
    <form class="app-searcher__form">
        <button type="submit" class="app-searcher__button" 
            [disabled]="!searchFormIsValid"
            (click)="sendSearch(search.value)" (keyDown)="sendSearch(search.value)">
            <img src="../../../assets/img/lupa.png" alt="" class="app-searcher__icon">
        </button>
        <input type="text" class="app-searcher__input" placeholder="Haga su búsqueda aquí..." name="" id="" #search
            [formControl]="searchForm">
    </form>
</div>
