@import '../assets/styles/variables.scss';

.app-root{
    height: 100%;

    &__columns-content{
        display: flex;
        height: calc(100% - #{$size-header-height});
    }

    &__menu {
        width: $size-menu-width;
        min-width: $size-menu-width;
    }

    &__body {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .app-root{
        &__menu {
            display: none
        }
    }
}