<div class="playlists-header">
    <div class="playlists-header__container">
        <div>
            <img class="playlists-header__img" [src]="inputHeader.picture" alt="">
        </div>
        <div class="playlists-header__information">
            <div class="playlists-header__info-box">
                <h1 class="playlists-header__title">{{ inputHeader.title }}</h1>
                <p class="playlists-header__description">{{ inputHeader.description }}</p>
                <div class="playlists-header__playback-info">
                    <div class="playlists-header__detailed-info">
                        <span class="playlists-header__fans">{{ inputHeader.fans }}</span>
                        <span class="playlists-header__duration">{{ inputHeader.duration}}</span>
                    </div>
                    <app-play-button class="playlists-header__playButton" 
                    (click)="setPlayerData(inputHeader.id, inputHeader.type)"></app-play-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="small-header">
    <div class="small-header__container">
        <div class="small-header__img-background">
            <img class="small-header__img" [src]="inputHeader.medium_picture" alt="">
        </div>
        <div class="small-header__information">
            <h1 class="small-header__title">{{ inputHeader.title }}</h1>

            <div class="small-header__infobox-button">
                <div class="small-header__info-box">
                    <p class="small-header__artist">{{ inputHeader.description }}</p>
                    <div class="small-header__detailed-info">
                        <span class="small-header__fans">{{ inputHeader.fans }}</span>
                        <span class="small-header__duration">{{ inputHeader.duration }}</span> 
                    </div>
                </div>
                <div class="small-header__button">
                    <app-play-button class="small-header__playButton" 
                    (click)="setPlayerData(inputHeader.id, inputHeader.type)"></app-play-button>
                </div>
            </div>  

        </div>
    </div>
</div>