@import '../../../assets/styles/variables.scss';

.app-body {
    width: 100%;
    height: calc(100% - #{$size-footer-height});
    background-color: $background-color-main;
    display: flex;
    &__app-card{
        padding-top: 50px;
        padding-left: 25px;
    }
}