<div class="artist-page">
    <h2 class="artist-page__title">Playlists</h2>
    <div class="artist-page__vertodo">
        <h3 class="artist-page__ver-todo" (click)="sendToAllPlaylists(inputArtistId.id)">ver todo</h3>
    </div>
</div>

<div class="playlists-card">
    <div class="playlists-card__container" *ngFor="let playlist of inputPlaylists">
        <div (click)="sendToPlaylistPage(playlist.id)">
            <img [src]="playlist.picture" alt="" class="playlists-card__img">
            <h2 class="playlists-card__title">{{ playlist.title }}</h2>
            <h3 class="playlists-card__duration">{{ playlist.duration }}</h3>
        </div>
    </div>
</div>

<div class="list-playlists">
    <ol class="list-playlists__list" *ngFor="let playlist of inputPlaylists">
        <li class="list-playlists__item" (click)="sendToPlaylistPage(playlist.id)">
            <img [src]="playlist.small_picture" alt="" class="list-playlists__small-img">
            <h2 class="list-playlists__title">{{ playlist.title }}</h2>
            <span class="list-playlists__duration">{{ playlist.duration }}</span>
        </li>
    </ol>
</div>