<div class="app-playlists-tracks">
    <ol class="app-playlists-tracks__list" *ngFor="let track of inputTracklist">
        <li class="app-playlists-tracks__item" (click)="setPlayerData(track.id, track.type)">
            <img [src]="track.picture" alt="" class="app-playlists-tracks__img">
            <h2 class="app-playlists-tracks__title">{{ track.title }}</h2>
            <div class="app-playlists-tracks__info">
                <h3 class="app-playlists-tracks__artist" (click)="sendToArtistPage(track.artistId)">{{ track.artist }}</h3>
                <h4 class="app-playlists-tracks__album" (click)="sendToAlbumPage(track.albumId)">{{ track.album }}</h4>
            </div>
            <span class="app-playlists-tracks__duration">{{ track.duration }}</span>
        </li>
    </ol>
</div>