@import '../../../assets/styles/variables.scss';

.app-play-button{

    position: relative;

    :hover{
        background-color: $background-color-secondary;
        border-radius: 100px;
        cursor: pointer;
        width: 60px;
    }

    &__img{
        width: 50px;
        position: absolute;
    }
}

