<div class="artist-header">
    <div class="artist-header__container">
        <div>
            <img class="artist-header__img" [src]="inputArtistInfo.picture" alt="">
        </div>
        <div class="artist-header__information">
            <div class="artist-header__info-box">
                <h1 class="artist-header__title">{{ inputArtistInfo.name }}</h1>
                <span class="artist-header__fans">{{ inputArtistInfo.fans }}</span>
            </div>
        </div>
    </div>
</div>

<div class="small-header">
    <div class="small-header__container">
        <div>
            <img class="small-header__img" [src]="inputArtistInfo.medium_picture" alt="">
        </div>
        <div class="small-header__information">
            <div class="small-header__info-box">
                <h1 class="small-header__artist">{{ inputArtistInfo.name }}</h1>
            </div>
        </div>
    </div>
    <div class="small-header__fans-box">
        <span class="small-header__fans">{{ inputArtistInfo.fans }}</span>
    </div>
</div>