@import '../../../assets/styles/variables.scss';

.app-artist-header{

    &__container{
        margin-bottom: 10px;
        position: relative;
        width: 100%;
        padding: 0px;
    }

    &__information{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 50%;
        height: 100%;
        background-color: $background-color-main-transparency;
        //background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $background-color-main-transparency);
    }

    &__info-box{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 25px;
        justify-content: left;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding-left: 30px;
    }

    &__title{
        font-size: 50px;
    }

    &__fans{
        display: block;
        font-size: 20px;
    }

    &__img{
        display: block;
        position: relative;
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: 50% 35%;
    }
}

@media screen and (min-width: 600px) {
    .small-header {
        display: none;
    }
} 

@media screen and (max-width: 600px) {
    .app-artist-header {
        display: none;
    }

    .small-header {
        font-family: Arial, Helvetica, sans-serif;

        &__container {
            position: relative;
            width: 100%;
            padding: 0px;
        }

        &__information{
            position: absolute;
            bottom: 0px;
            right: 0px;
            height: 30%;
            width: 100%;
            background-color: $background-color-main-transparency;
            //background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $background-color-main-transparency);
        }

        &__info-box{
            font-family: Arial, Helvetica, sans-serif;
            bottom: 25px;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            padding-left: 10px;
        }

        &__artist{
            font-size: 30px;
            align-items: center;
            justify-content: center;
        }

        &__img {
            display: block;
            position: relative;
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: 50% 35%;
        }

        &__fans-box{
            margin: 0px;
            padding: 10px 0px;
            width: 100%;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0), $background-color-main-transparency);
        }

        &__fans {
            padding-left: 10px;
        }

    } 
}