<div class="artist-page">
    <app-loading *ngIf="isHeaderLoading" class="artist-page__loading"></app-loading>
    <app-artist-page-header *ngIf="!isHeaderLoading" class="artist-page__header" [inputArtistInfo]="selectedArtist"></app-artist-page-header>

    <app-loading *ngIf="isTrackLoading || isUserLoading" class="artist-page__loading"></app-loading>
    <div class="artist-page__card">
        <app-artist-page-tracklist *ngIf="!isTrackLoading && !isUserLoading" [inputTopFive]="cutTracks"></app-artist-page-tracklist>
    </div>

    <app-loading *ngIf="isAlbumLoading" class="artist-page__loading"></app-loading>
    <div class="artist-page__card">
        <app-artist-page-album *ngIf="!isAlbumLoading" [inputAlbums]="cutAlbums" [inputArtistId]="artistId"></app-artist-page-album>
    </div>  

    <app-loading *ngIf="isPlaylistLoading" class="artist-page__loading"></app-loading>
    <div class="artist-page__card">
        <app-artist-page-playlist *ngIf="!isPlaylistLoading" [inputPlaylists]="cutPlaylists" [inputArtistId]="artistId"></app-artist-page-playlist>
    </div>
</div>