@import './colors.scss';

/* Text colors */
$text-color-primary: $white;
$text-color-active: $ochre;

/* Backgrund colors */
$background-color-main: $shark;
$background-color-secondary: $dove-gray;
$background-color-menu: $cape-code;
$background-color-main-transparency: $sharkT;

/* Sizes */
$size-header-height: 80px;
$size-menu-width: 210px;
$size-footer-height: 80px;
$size-menu-below-height: 50px;

/*Title styles*/
$titles-cards-style: Arial, Helvetica, sans-serif;
$titles-cards-marginleft: 0px;