<div class="app-menu-below">
    <ul class="app-menu-below__list">
        <li class="app-menu-below__list-item">
            <div class="app-menu-below__div" (click)="sendToLandingPage()">
                <img src="../../../assets/img/music-icon.png" alt="" class="app-menu-below__icon">
                <span class="app-menu-below__span">Música</span>
            </div>
        </li>
        <li class="app-menu-below__list-item">
            <div class="app-menu-below__div">
                <img src="../../../assets/img/radio.png" alt="" class="app-menu-below__icon">
                <span class="app-menu-below__span">Radio</span>
            </div>
        </li>
        <li class="app-menu-below__list-item">
            <div class="app-menu-below__div">
                <img src="../../../assets/img/microfono.png" alt="" class="app-menu-below__icon">
                <span class="app-menu-below__span">Podcast</span>
            </div>
        </li>
        <li class="app-menu-below__list-item">
            <div class="app-menu-below__div">
                <img src="../../../assets/img/heart.png" alt="" class="app-menu-below__icon">
                <span class="app-menu-below__span">Favoritos</span>
            </div>
        </li>
    </ul>
</div>
