<div class="app-menu">
    <ul class="app-menu__list">
        <li class="app-menu__list-item">
            <div class="app-menu__div" (click)="sendToLandingPage()">
                <img src="../../../assets/img/music-icon.png" alt="" class="app-menu__icon">
                <span class="app-menu__span">Música</span>
            </div>
        </li>
        <li class="app-menu__list-item">
            <div class="app-menu__div">
                <img src="../../../assets/img/radio.png" alt="" class="app-menu__icon">
                <span class="app-menu__span">Radio</span>
            </div>
        </li>
        <li class="app-menu__list-item">
            <div class="app-menu__div">
                <img src="../../../assets/img/microfono.png" alt="" class="app-menu__icon">
                <span class="app-menu__span">Podcast</span>
            </div>
        </li>
        <li class="app-menu__list-item">
            <div class="app-menu__div">
                <img src="../../../assets/img/heart.png" alt="" class="app-menu__icon">
                <span class="app-menu__span">Favoritos</span>
            </div>
        </li>
    </ul>
</div>

