@import '../../../assets/styles/variables.scss';

.app-side-nav {
    width: 100%;
    height: 100%;
    background-color: $background-color-menu;
    display: flex;
    &__app-menu{
        padding-top: 10px;
        padding-left: 30px;
    }
}