@import '../../../assets/styles/variables.scss';

.app-landing-page{
    &__title{
    font-family: $titles-cards-style;
    margin-left: $titles-cards-marginleft;
    color: $text-color-primary;
    }
}

@media screen and (max-width: 350px) {
    .app-landing-page{
        &__title{
            font-size: 20px;
        }
    }
}