@import '../../../assets/styles/variables.scss';

.app-landing-page{
    &__title{
    font-family: $titles-cards-style;
    margin-left: $titles-cards-marginleft;
    color: $text-color-primary;
    }
}